@import "./components/game.css";
@import "./components/board.css";
@import "./components/square.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", "sans-serif";
}
